/** Global *******************************************/
*{
	all: unset;
	font-family: feather;
	font-family: "JetBrains Mono";
	color: #151515;
}

/** Bar ***********************************/
.wid_get {
	background-color: #1E1D2D;
	border: 1px solid #fe0000;
}
 


.noti{
    background-repeat: no-repeat;
	background-size: 40px;
	min-height: 40px;
	min-width: 40px;
}

.screenshot{
    background-repeat: no-repeat;
	background-size: 40px;
	min-height: 40px;
	min-width: 40px;
}