/** Global *******************************************/
*{
	all: unset;
	font-family: feather;
	font-family: "JetBrains Mono";
}

/** Bar ***********************************/
.wid_get {
	background-color: #1E1D2D;
	border: 1px solid #fe0000;
}
 


.noti{
    background-repeat: no-repeat;
	background-size: 40px;
	min-height: 40px;
	min-width: 40px;
	color: white
}

.screenshot{
    background-repeat: no-repeat;
	background-size: 40px;
	min-height: 40px;
	min-width: 40px;
}


.iconmic, .iconvolume, .iconbrightness{
	font-size : 18px;
	font-weight : normal;
}
.iconmic {
	color: #f6f6ff;
	margin: 10px;
}
.iconvolume {
	color: #f6f6ff;
	margin: 10px;
}
.iconbrightness {
	color: #f6f6ff;
	margin: 10px;
}


.volume_bar, .brightness_bar, scale trough {
	all: unset;
	background-color: #454547;
	min-height: 10px;
	min-width: 180px;
}

.volume_bar, .brightness_bar, scale trough highlight {
	all: unset;
	border-radius: 12px;
}

.volume_bar scale trough highlight {
	background-color: #f6f6ff;
}
.brightness_bar scale trough highlight {
	background-color: #f6f6ff;
}
.mic_bar scale trough highlight {
	background-color: #f6f6ff;
}
.volume_bar, .brightness_bar, .mic_bar {
	// Other styles...
	margin-top: -40px;
	margin-bottom: -40px; // Reduced top margin
  }
  
.volume{
	color: white;
}


.res_box {
	background-color: rgb(41, 40, 53);
	border-radius: 12px;
	padding: 14px 18px 14px 18px;
}

.res_circle {
	background-color: #e7e2e2;
	border: 0px solid #161616;
	border-radius: 100%;
	padding: 0px;
}

.res_circle_small {
	background-color: #2a2433;
	border: 0px solid #161616;
	border-radius: 100%;
	padding: 12px;
}

.res_text {
	background-color: #E6E1D7;
	border: 1px solid #161616;
	border-radius: 16px;
	font-size : 14px;
	padding: 0px 8px 0px 8px;
	margin: 0px 0px 0px 0px;
	font-weight : bold;
}

.res_cpu {
	color: #FD6B85;
}

.res_mem {
	color: #6f57f5;
}

