
/** Global *******************************************/
*{
	all: unset;
	color: #bea1ff;
	border-radius: 5px;
}

.logo{
	font-size: 15px;
	font-weight: 900;
	font-family: "JetBrainsMono";

}

.text{
	font-size: 13px;
	font-weight: bold;
}

.wid_get {
	background-color: #1e1e2e;
	border: 1px solid #232336;
}



