

/** Global *******************************************/
*{
	all: unset;
	font-family: "JetBrains Mono";
}

/** Background ***************************************/
.bg {
	background-image: url("images/bg.png");
	background-color: #2e2e1e;
	opacity: 1;
}

/** Generic window ***********************************/
.wid_get {
	background-color: #1e1e2e;
	border: 1px solid #232336;
}



