/** Global *******************************************/
*{
	all: unset;
	font-family: feather;
	font-family: Iosevka;
}


/** Generic window ***********************************/
.wid_get {
	background-color: #1e1e2e;
	border-radius: 5px;
}
/** Power buttons ***************************************/
.btn_logout, .btn_sleep, .btn_restart, .btn_poweroff {
	font-size : 20px;
	font-weight : bold;
	color: #bea1ff;
}

